/*  GENERAL    */
/*Ajuste del contenido*/
.zerogrid{
    margin: auto;
    width: 1000px;
}

/*Ajuste del footer*/
.col-footer-1, .col-footer-2, .col-footer-3 {
    width: 33%;
}

/*Index*/
/*  GRID 6 PRODUCTS */
/*Ajust del row*/
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%;
    width: 100%;
}

/*Ajust del columns*/
.col-2-5{
    width: 40%;
}

.col-3-5{
    width: 60%;
}

.col-1-2{
    width: 50%;
}


/*  TRAVIS JHONSON SECTION  */
/*Ajuste tamaño de imágen*/
.wrap-col{
    padding: 0px 10px;
    width: 100%;
}

/*Esta clase ya se encuentra en la hoja de estilos principal, la modificación se añadió en esta*/
.box-text{
	width: 480px;
    margin: 10px 0px;
}

/*  BLOG    */
/*Ajuste de contenido*/
.flex-box{
    width: 100%;
}

/*  CONTACTS    */
/*Contact form*/
.col-1-3{
    width: 33.3%;
}


.contact-form{
    width: 100%;
}